.app-header {
  height: 50px;
  background-color: #5AF;
  color: white;
}

.app-logo {
  margin: 5px;
  height: 40px;
  float: left;
}

.app-title {
  margin-left: 10px;
  height: 50px;
  float: left;
  padding: 3px 0;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.logout {
  color: #fff;
  float: right;
  padding-top: 13px;
  padding-right: 13px;
  cursor: pointer;
}
